{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_head %}
    <style>
        body {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .login-container {
            width: 100%;
            max-width: 400px;
            margin: 50px auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            text-align: center;
        }

        .login-container h2 {
            margin-bottom: 20px;
            color: #002244; /* Dark blue */
        }

        .login-container form {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .login-container label {
            margin: 10px 0 5px;
            text-align: left;
            width: 100%;
        }

        .login-container input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .login-container button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #002244; /* Dark blue */
            color: white;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .login-container button:hover {
            background-color: #001122; /* Darker blue */
        }

        .login-container p {
            margin-top: 20px;
        }

        .login-container p a {
            color: #002244; /* Dark blue */
        }

        .login-container p a:hover {
            text-decoration: underline;
        }

        .error-message {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
{% endblock %}
